<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>URL Shortener</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <header id="title">
            <h1>URL Shortener</h1>
            <p>Simple URL shortening application</p>
            <span>Version 1.1</span>
        </header>

        <main>
        <section id="form">
            <form method="post" action="/shorten">
                <label for="original_url">Enter Your URL</label>
                <input type="url" id="original_url" name="original_url" required>
                <button type="submit">Shorten URL</button>
            </form>
        </section>

        <section id="result">
            {% if short_url %}
              <label for="shorten_url">Your Shortened URL</label>
              <a href={{short_url}}>{{short_url}}</a>
            {% endif %}
        </section>

        <section id="msg">

        </section>
        </main>
        
        <footer>
           <p>© 2026 Dhanush K. Licensed under the MIT License. </p>
        </footer>
    </body>
</html>
